@model EkleModel

@{
    ViewBag.Title = "title";
    Layout = "MyLayout";

}






<form asp-action="Ekle" asp-controller="Admin" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label>Kitap Adı:</label>
        <span asp-validation-for="@Model.KitapAdi" class="text-danger"></span>
        <input asp-for="@Model.KitapAdi" class="form-control" placeholder="Kitabın Adı" />
    </div>

    <div class="form-group">
        <label>Yazar:</label>
        <span asp-validation-for="@Model.Yazar" class="text-danger"></span>
        <input asp-for="@Model.Yazar" class="form-control" placeholder="Yazarsız Kitap Olmaz" />
    </div>

    <div class="form-group">
        <label>Kategori:</label>
        <span asp-validation-for="@Model.KategoriId" class="text-danger"></span>
        <select asp-for="@Model.KategoriId" class="form-control">
            <option value="1">Klasik</option>
            <option value="2">Gizem</option>
            <option value="4">Korku</option>
            <option value="3">Tarih</option>
            <option value="5">Edebiyat</option>
        </select>
    </div>
    <div class="form-group">
        <label>Kategori Adı Belirle:</label>
        <span asp-validation-for="@Model.Kategori" class="text-danger"></span>
        <input asp-for="@Model.Kategori" class="form-control" placeholder="Kullanıcıların Bulması için Kategori" />
    </div>


    <div class="form-group">
        <label>Kitap Resmi:</label>
        <span asp-validation-for="@Model.Resim" class="text-danger"></span>
        <input asp-for="@Model.Resim" class="form-control" placeholder="internetten Kopyaladığınız Url Adresi olabilir." />
    </div>

    <div class="form-group">
        <label>Kitap Açıklaması:</label>
        <span asp-validation-for="@Model.KitapDetay" class="text-danger"></span>
        <input asp-for="@Model.KitapDetay" class="form-control" placeholder="Kısaca kitabın içeriği.." />
    </div>


    <div class="form-group">
        <label>Puan:</label>
        <span asp-validation-for="@Model.Puan" class="text-danger"></span>
        <input asp-for="@Model.Puan" class="form-control" placeholder="Bir puan 1 puandır." />
    </div>


    <div class="form-group">
        <label>Kitap Yorum Id'si: (Lütfen "Admin/Index" teki Son Yorum Id'ye Bakınız.) </label>
        <span asp-validation-for="@Model.YorumId" class="text-danger"></span>
        <input asp-for="@Model.YorumId" class="form-control" />
    </div>




    <button type="submit" class="btn btn-primary">Kaydet</button>



</form>